BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
AlignTrailingComments: true
ReflowComments: false
IndentPPDirectives: AfterHash
AllowShortFunctionsOnASingleLine: None
ColumnLimit: 120
PointerAlignment: Right
AlignEscapedNewlines: Left
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
AllowAllParametersOfDeclarationOnNextLine: false
SpacesBeforeTrailingComments: 4
